/* Enhanced styling for the app */

.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4; /* Light grey background for the whole app */
  color: #333; /* Dark grey text for better readability */
}

.header {
  min-height: 15vh; /* Slightly larger header */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin); /* Slightly larger text */
  color: #fff; /* White text for contrast */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3); /* Add shadow to header */
}

.parking-lot-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px; /* Add gap between cards */
}

.parking-lot-card {
  border: none; /* Remove border */
  border-radius: 10px; /* Rounded corners */
  width: 280px; /* Adjust width */
  background-color: #fff; /* White background for cards */
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15); /* Softer shadow */
  transition: transform 0.3s, box-shadow 0.3s; /* Animate shadow and transform */
}

.parking-lot-card.free {
  background-color: #35a247; /* Green for free */
}

.parking-lot-card.almostFull {
  background-color: #ffc107; /* Orange for almost full */
}

.parking-lot-card.full {
  background-color: #da4556; /* Red for full */
}

.parking-lot-card:hover {
  transform: translateY(-5px); /* Move card up slightly on hover */
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2); /* Larger shadow on hover */
}

.parking-lot-card h2 {
  color: #1a1a1a; /* Use the header color for titles */
  font-size: 16px; /* Reduced font size for title */
  margin-bottom: 5px; /* Reduced space below title */
}

.parking-lot-card p {
  color: #333; /* Darker text for readability */
  font-size: 14px; /* Reduced font size for paragraph */
  line-height: 1; /* Adjusted line spacing */
}

.modern-select {
  padding: 10px 15px;
  border: 2px solid #ddd; /* Light grey border */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Larger font size */
  background-color: white;
  appearance: none; /* Removes default styling */
  outline: none; /* Removes the outline */
  cursor: pointer; /* Changes cursor to pointer */
  margin: 10px 0; /* Adds some margin */
}

/* Style for the dropdown arrow */
.modern-select::-ms-expand {
  display: none;
}

/* Optional: Style to change the arrow icon (requires additional HTML & CSS) */
.modern-select-arrow {
  position: absolute;
  right: 10px;
  top: calc(50% - 3px); /* Center vertically */
  pointer-events: none; /* Makes sure clicks on the arrow still open the dropdown */
}

